# Ignore OS X and Windows system files
.DS_Store
thumbs.db

# Ignore all Subversion folders
.svn

# Ignore Eclipse specific files
.buildpath
.classpath
.project
.settings/

# Ignore eSpeak software for local TTS for WebAnywhere
/espeak*
